.feed{
    float: left;
    margin-top: 20px;
    width: 70%;
  }
  
  .foto1{
    width: 90%;
    height: auto;
    border: 0.1px solid #bdbdbd;
    border-radius: 7px;
  }
  
  .infomacoes-perfil{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .perfil-feed{
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
  }
  
  .foto-perfil{
    width: 38px;
    height: 38px;
    margin: 11px 10px;
    border-radius: 50%;
  }

  .story-border-feed{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    margin: 10px 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: linear-gradient( #c82d8e, #f99d4c);
  }
  
  .perfil-feed h1{
    font-size: 16px;
    margin: 10px 0px;
    font-weight: 600;
  }
  
  .localizacao{
    font-size: 12px;
    margin: 32px 0px 0px -82px;
    font-weight: 500;
  }
  
  .pontos{
    width: 30px;
    height: 10px;
    margin: 26px 30px;
    cursor: pointer;
  }
  
  .foto-feed{
    width: 100%;
    height: 500px;
  }
  
  .interacao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 20px
  }
  
  .interacao img{
    width: 30px;
    height: 30px;
    margin: 5px;
    cursor: pointer;
  }
  
  .foto1 p{
    text-align: left;
    margin: 8px 25px;
  }
  
  .comentario{font-weight: 100;}
  
  .horario{
    font-weight: 100;
    font-size: 13px
  }
  
  spam{font-weight: bolder;}
  
  .publicar-comentario{
    width: 100%;
    margin-bottom: -25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .emoji{
    width: 30px;
    height: 30px;
    margin: 10px 0px 50px 20px;
  }
  
  .comentar{
    width: 750%;
    height: 30px;
    padding-left: 20px;
    margin: 10px 10px;
    border: 0;
    outline: 0;
  }
  
  .publicar{
    color: blue;
    cursor: pointer;
    margin: 10px 20px;
  }
  
  .publicar:hover{color: rgb(72, 72, 224);}