.informacoes{
    display: flex;
    padding-top: 40px;
    width: 30%;
  }
  
  .container-informacoes{
    width: 100%;
    height: auto;
    border-radius: 7px;
    padding-bottom: 10px;
  }
  
  .mudar-perfil{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: -25px;
  }
  
  .perfil-informacoes{
    display: flex;
    margin: 0px 10px;
  }
  
  .foto-informacoes{
    width: 55px;
    height: 55px;
    margin: 11.5px auto 0px 7px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .container-informacoes h1{
    font-size: 15px;
    margin: 20px 20px 0px 5px;
    font-weight: 600;
    cursor: pointer;
  }
  
  .perfil-informacoes p{
    font-size: 13px;
    margin: 42px 20px 0px -100px;
    font-weight: 400;
  }
  
  .mudar{
    color: blue;
    font-size: 13px;
    margin: 30px 20px 0px -20px;
    font-weight: 400;
    cursor: pointer;
  }
  
  .sugestoes{width: 100%;}
  
  .sugestoes-texto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .sugestoes-texto h1, p{
    margin: auto 10px auto -5px;
    cursor: pointer;
  }
  
  .sugestoes-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .perfil-sugestoes{
    display: flex;
    margin: 0px 10px;
  }
  
  .foto-sugestoes{
    width: 35px;
    height: 35px;
    margin: 25px auto 0px -15px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .perfil-sugestoes h1{
    font-size: 13px;
    margin: 22px 20px 0px 5px;
    font-weight: 600;
  }
  
  .perfil-sugestoes p{
    font-size: 12px;
    margin: 42px 20px 0px -90px;
    font-weight: 400;
  }
  
  .seguir{
    color: blue;
    font-size: 13px;
    margin: 30px 20px 0px -20px;
    font-weight: 400;
    cursor: pointer;
  }
  
  .footer-link{margin: 20px 10px 20px -15px;}
  
  .footer a{
    font-size: 14px;
    text-decoration: none;
    text-align: left;
    margin: 5px 10px;
    font-weight: 300;
    color: gray;
    float: left;
  }
  
  .footer p{
    clear: both;
    font-size: 14px;
    text-decoration: none;
    text-align: left;
    padding-top: 20px;
    margin: 30px 10px 20px -5px;
    font-weight: 300;
    color: gray;
    cursor: inherit;
  }