@media only screen and (max-width: 1000px){
    .container{padding: 0 2% 0 10%;}
  
    .container-header{
      width: 90%;
      margin: 0 10%;
    }
  
    .story{width: 100%;}
  
    .feed{width: 100%;}
  
    .informacoes{display: none;}
  }
  
  @media only screen and (max-width: 763px){
    .container-header{width: 100%;}
  
    .logo{margin-left: -20px;}
  
    .barra{display: none;}
  
    .links{width: 200px;}
  
    .perfil-story{margin: 0px 25px;}
  
    .foto-feed{
      width: 100%;
      height: 300px;
    }
  
    .foto-perfil{
      width: 35px;
      height: 35px;
      margin: 14px 10px;
    }
    
    .pontos{
      width: 32px;
      height: 10px;
    }
  
    .interacoes{padding: 0px 10px;}
    
    .interacoes img{
      width: 28px;
      height: 28px;
    }
    
    .foto1 p{
      text-align: left;
      margin: 8px 20px;
    }
  }

  @media only screen and (max-width: 383px){ .perfil-story{margin: 0px 30px;} }