.story{
    float: left;
    margin-top: 100px;
    width: 70%;
  }
  
  .story-container{
    width: 90%;
    height: auto;
    border: 0.1px solid #bdbdbd;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    overflow-x: scroll;
  }
  
  .story-container::-webkit-scrollbar {
    width: 10% !important;
    height: 5px;
  }
  
  .story-container::-webkit-scrollbar-track {background: transparent;}
  
  .story-container::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, rgba(255,144,0,1), rgba(215,46,146,1));
    border-radius: 20px;
  }
  
  .perfil-story{
    width: 10%;
    margin: 0px 15px;
  }
    
  .story-border{
    width: 62px;
    height: 62px;
    border-radius: 50%;
    display: flex;
    margin: 10px 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: linear-gradient( #c82d8e, #f99d4c);
  }  
  
  .foto-story{
    width: 58px;
    height: 58px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .story-container h1{
    width: 100%;
    font-size: 13px;
    margin: -5px auto 15px auto;
    font-weight: 600;
  }